<div class="card">
    <div class="card-header">
        {{dangueCases}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4> Filtered by: {{listFilter}}</h4>
        
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage?'Hide':'Show'}} Image
                            </button>
                        </th>
                        <th>Caess</th>
                        <th>Location</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let case of filterCases'> 
                        <td><img *ngIf='showImage'
                            [src]='case.imageUrl'
                            [title]='case.productName'
                            [style.width.px]='imageWidh'
                            [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{case.productName}}</td>
                        <td>{{case.productCode|lowercase|convertToSpace:'-'}}</td>
                        <td>{{case.releaseDate}}</td>
                        <td>{{case.price}}</td>
                        <td><pm-star [rating]='case.starRating'
                            (ratingClcikEvent)='onRatingClicked($event)'>

                        </pm-star></td>
                    </tr>
                </tbody>
            </table>
        
        </div>
        </div>
        </div>